$bg-color: #fff;
$primary-color: #ee3b33; // red color
$heading-color: #3e3e3e; // semi black color
$text-color : #3e3e3e; // semi black color for tex
$inactive-color: #a3a3a3; //inactive gray color
$hover-color: #A3A3A3; // inactive gray color
$nav-border: #dadfe6; // gray border color
$spec-tab: #c8c8c8; 
$footer-bg-color: #212327;
$footer-li : #787e89;
$footer-lower-bg: #191a1e ;

$footer-lower-text : 10px;
$footer-upper-text : 12px;

$break-small: 320px;
$break-medium: 375px;