.btn {
    border-radius: 5px !important;
    border: 2px solid $primary-color;
    color: #fff;
    background: $primary-color;
    padding: 10px 40px;
    
    &.btn-light {
        left: 20px;
        background: transparent;
        color: $primary-color;
        
        @media screen and (max-width: $break-small)  {
            left: 22%;
        }
    }   
    
    &.btn-deep {
        @media screen and (max-width: $break-small)  {
            left:25%;
            margin-bottom: 10px;
        }
    }
}